In [26]:
import pandas as pd
import streamlit as st

In [8]:
folder = 'API_ST.INT.ARVL_DS2_en_csv_v2_4902445'
file = 'API_ST.INT.ARVL_DS2_en_csv_v2_4902445.csv'
data = pd.read_csv(f'{folder}/{file}',
                   sep=',', skiprows=3)

In [22]:
data[['Country Name', '2020']].dropna().sort_values('2020', ascending=False).head(20)

              Country Name         2020
77                  France  117109000.0
154                 Mexico   51128000.0
251          United States   45037000.0
116                  Italy   38419000.0
70                   Spain   36410000.0
101                Hungary   31641000.0
40                   China   30402000.0
99                 Croatia   21608000.0
244                Turkiye   15971000.0
58                 Denmark   15595000.0
14                 Austria   15091000.0
55                 Germany   12449000.0
81          United Kingdom   11101000.0
256  Virgin Islands (U.S.)    8612000.0
8     United Arab Emirates    8084000.0
89                  Greece    7406000.0
176            Netherlands    7265000.0
202     Russian Federation    6359000.0
146       Macao SAR, China    5897000.0
6                  Andorra    5207000.0